.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 56px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
  min-width: 20px;
  transition: all 0.3s ease;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 10px;
  color: #45505b;
  display: none;
  transition: all 0.3s ease;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
  color: #fff;
  background: #ff004f;
  width: 130px;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: inline-block;
  color: #fff;
}

.nav-menu .active,
.nav-menu .active:focus {
  background: #ff004f;
  color: #fff;
}

.nav-menu .active span,
.nav-menu .active i {
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu li:hover > a i {
  color: #fff;
}

.mobile-nav-toggle {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10001;
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

.mobile-nav-toggle i {
  pointer-events: none;
  transition: transform 0.5s ease;
}

.mobile-nav-toggle.active i {
  transform: rotate(90deg);
}

.mobile-nav-overlay {
  display: none;
}

.mobile-nav-overlay.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #272829;
  z-index: 9999;
}

@media (max-width: 992px) {
  .nav-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background: #f2f3f5;
    padding-top: 60px;
    transition: 0.3s ease;
    overflow-y: auto;
    z-index: 10000;
  }

  .nav-menu.mobile-nav-active {
    left: 0;
  }

  .nav-menu a {
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
    padding: 15px 20px;
  }

  .nav-menu a span {
    display: inline-block;
    color: #45505b;
  }

  .nav-menu a:hover {
    background: #ff004f;
    color: #fff;
  }

  .nav-menu a:hover span {
    color: #fff;
  }

  .mobile-nav-toggle {
    display: block;
  }
}
